<p>super-bill works!</p>
<p>biill works!</p>
<p>"Patience is a key element of success" - Bill Gates</p>
<p>If you think your teacher is tough, wait till you get a boss</p>
<p>Life is not fair — get used to it!</p>
<p>Success is a lousy teacher. It seduces smart people into thinking they can’t lose</p>
<p>Be nice to nerds. Chances are you’ll end up working for one</p>
<a href="https://en.wikipedia.org/wiki/Bill_Gates;">https://en.wikipedia.org/wiki/Bill_Gates;</a>
<a href="https://www.gatesfoundation.org/;">https://www.gatesfoundation.org/;</a>
<a href="https://www.gatesnotes.com/;">https://www.gatesnotes.com/;</a>
<a href="https://x.com/billgates">https://x.com/billgates</a>
<img src="./images/Bill_Gates_-_2023_-_P062021-967902_(cropped).jpg" alt="bill">
<a href="https://en.wikipedia.org/wiki/Bill_Gates;">https://en.wikipedia.org/wiki/Bill_Gates;</a>
<a href="https://www.gatesfoundation.org/;">https://www.gatesfoundation.org/;</a>
<a href="https://www.gatesnotes.com/;">https://www.gatesnotes.com/;</a>
<a href="https://x.com/billgates">https://x.com/billgates</a>